<div class="wa-center login-outer-center">
  <wa-card class="login-card login-card-split">
    <div class="login-inner-split wa-flex">
      <!-- Left Banner (SVG) -->
      <div class="login-banner wa-flex wa-center wa-justify-center">
        <%= image_tag "schedule-clone-svgrepo-com.svg", alt: "Schedule Icon", class: "banner-svg" %>
      </div>
      <!-- Right Login Form -->
      <div class="login-form-area wa-flex wa-center wa-justify-center">
        <div class="login-form-fields wa-stack wa-gap-4">
          <div class="wa-text-center wa-mb-4 form-title">Sign In</div>

          <% if resource.errors.any? %>
          <wa-alert class="wa-alert--error">
            <wa-alert-title>Please fix the following errors:</wa-alert-title>
            <wa-alert-content>
              <ul>
                <% resource.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </wa-alert-content>
          </wa-alert>
          <% end %>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |form| %>
            <wa-input
              type="email"
              placeholder="Email"
              name="user[email]"
              required
              icon="user"
              class="wa-input"
            ></wa-input>

            <wa-input
              type="password"
              placeholder="Password"
              name="user[password]"
              required
              password-toggle
              icon="lock"
              class="wa-input"
            ></wa-input>

            <% if devise_mapping.rememberable? %>
              <div class="wa-checkbox-container">
                <wa-checkbox name="user[remember_me]" value="1">
                  Remember me
                </wa-checkbox>
              </div>
            <% end %>

            <wa-button type="submit" class="wa-button--filled wa-button--primary">
              Sign In
            </wa-button>
          <% end %>

          <div class="wa-text-center wa-mt-4">
            <%= link_to "Forgot your password?", new_password_path(resource_name), class: "wa-link" %>
          </div>

          <div class="wa-text-center wa-mt-2">
            <%= link_to "Don't have an account? Register", new_registration_path(resource_name), class: "wa-link" %>
          </div>
        </div>
      </div>
    </div>
  </wa-card>
</div>